*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.246);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    z-index: -1;
}
.modal.active{
    opacity: 1;
    pointer-events: all;
    z-index: 2;

}

.modal__content{
    padding: 20px;
    border-radius: 15px;
    background-color:rgb(255, 255, 255);
    transform: scale(0.5);
    /* display: none; */
    transition: 0.4s all;
    z-index: -2;
    
}
.modal__content.active{
    transform: scale(1);
    /* display: block; */
    z-index: 1;
}

