* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}
body {
  background-color: antiquewhite;
  height: 100vh;
}
.wrapper {
  width: 80%;
  height: 80%;
  margin: 100px auto;
  /* display: flex; */
}
.game_field {
  width: 606px;
  height: 614px;
  background-color: aliceblue;
  /* display: flex; */
  flex-wrap: wrap;
  border: 3px solid black;
}
.section {
  display: flex;
}
.section:nth-child(3n) {
  border-bottom: 3px solid black;
}

.num_section {
  width: 66.66px;
  height: 66.66px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;
}

.num_section:nth-child(3n) {
  border-right: 3px solid black;
}

.game_control {
  width: 50%;
}

.num__section {
  font-size: 40px;
}
