* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}
button {
  border: none;
  background-color: transparent;
}
body {
  background-image: url(img/2d8f9c5bead82895cad217948ab4661c.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 100px);
}
h1 {
  color: rgb(255, 255, 255);
  font-size: 100px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgba(172, 183, 165, 0.933);
  width: 40%;
  margin: 40px auto;
  border-radius: 40px;
}
.wrapper {
  width: 90%;
  position: relative;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
}
.game_field {
  width: 600px;
  height: 609px;
  /* background-color: aliceblue; */
}
.error {
  animation: vibro linear 0.4s;
}
.errors {
  font-size: 40px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  background-color: aliceblue;
  padding: 0.4rem;
  margin-bottom: 2rem;
}
@keyframes vibro {
  20% {
    transform: rotate(1deg);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

.section {
  display: flex;
  background-color: aliceblue;
}
.num_section {
  width: calc(600px / 9);
  height: calc(600px / 9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 1px solid rgb(172, 150, 150);
  transition: all ease 0.4s;
  cursor: pointer;
}
.section:nth-child(3n + 1) {
  border-bottom: 3px solid black;
}
.section:nth-child(1) {
  border-top: 3px solid;
}
.num_section:nth-child(3n) {
  border-right: 3px solid rgb(0, 0, 0);
}
.num_section:nth-child(1) {
  border-left: 3px solid rgb(0, 0, 0);
}

.game_control {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

p {
  text-align: center;
  cursor: pointer;
}
.clav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.clav button {
  width: 30%;
  height: 30%;
  font-size: 70px;
  border: none;
  border-radius: 20px;
  background-color: aliceblue;
  transition: all ease 0.5s;
}
.clav button:hover {
  background-color: rgb(158, 178, 195);
}
.newgame {
  width: 100%;
  background-color: aliceblue;
  background-color: rgb(232, 212, 255);
  border: none;
  font-size: 30px;
  padding: 2rem;
  border-radius: 20px;
}

.active-line {
  background-color: rgb(30, 248, 233);
}
.active {
  background-color: rgb(190, 200, 239);
}

.wraper_popap {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.691);
  position: absolute;
  top: 0;
  display: none;
}

.popap {
  width: 400px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: 25%;
  margin: 0 auto;
  padding: 2rem;
}
.popa_tittle {
  font-size: 40px;
  margin-bottom: 1rem;
  font-family: "Courier New", Courier, monospace;
}
.popap_discription {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgba(154, 142, 142, 0.837);
  margin-bottom: 2rem;
}
.restart_game {
  width: 100%;
  background-color: rgb(138, 99, 215);
  padding: 10px;
  font-size: 20px;
  color: aliceblue;
  margin-bottom: 1rem;
}

.popap .newgame {
  background-color: transparent;
  padding: 0;
  font-size: 20px;
  color: blue;
  cursor: pointer;
}
.winner {
  width: 600px;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(134, 158, 100, 0.687);
  background-image: url(img/winner-gif-1.gif);

  /* animation: winn linear 0.4s; */
  display: none;
}
.winner div {
  width: 80%;
  height: 100%;
  background-image: url(/img/winner.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}
@keyframes winn {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@media (max-width: 1400px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .game_field {
    width: 400px;
    height: 400px;
  }
  .num_section {
    width: calc(400px / 9);
    height: calc(400px / 9);
  }
  .game_control {
    width: 80%;
    height: 90px;
  }
  .clav {
    flex-wrap: nowrap;
    width: 80%;
  }
  .clav button {
    font-size: 35px;
    width: 70px;
    height: 100%;
  }
  .errors {
    margin-top: 2rem;
  }
}
