*{
    /* border: 1px solid black; */

}
.nav{
    width: 100%;
    margin: 2rem;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-color:aliceblue;
    display: flex;
}
.formWraper{
    width: 20%;
    height: 100%;
}



.wrapperHome{
    width: 100%;
    height: 100vh;
    background-image: url(../../src/images/Frame\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.wrapperAdmin{
    width: 100%;
    height: 100vh;
    background: linear-gradient(236.64deg, #FFFFFF 4.73%, #96A0F2 38.46%, #96A0F2 57.81%, #ededed 91.1%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.restaranList  {
    /* width: 100vh; */
    overflow: auto;
}
.restaranList ul li{
    background-color:#ffffff;
    margin: 20px 0;
    border-radius: 20px;
    list-style: none;
    padding: 1rem;
    font-size: 20px;
}

.restaranList::-webkit-scrollbar {
    width: 22px;               /* ширина всей полосы прокрутки */
}
.restaranList::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);        /* цвет зоны отслеживания */
  }
.restaranList::-webkit-scrollbar-thumb {
    background-color: rgb(225, 255, 0);    /* цвет бегунка */
  }
.restaranOption{
    display: grid;
    grid-template-areas:
    "restaranName restaranName restaranName img"
    "adresTittle  adresValue adresValue  img"
    "tittleDel valueDel btn  img";
    justify-content: space-between;
}
.restaranName{
    text-align: center;
    grid-area: restaranName;
}
img{
    grid-area: img;
}
.adresTittle{
  grid-area: adresTittle;
}
.adresValue{
    grid-area: adresValue;
}
.tittleDel{
    grid-area: tittleDel;
}
.valueDel{
    grid-area: valueDel;
} 

.admin{
    grid-area: btn;
}


.tableOrder{
    width: 100%;
}
.header{
    background-color:rgb(231, 83, 46);
    color: #ffffff;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;

}
.row{
    display: flex;
    justify-content: space-between;
}
.cell{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    padding: .5rem;
    /* text-align: center; */
}
.itemOrder:nth-child(even){
    background-color:rgb(209, 221, 221);
}
.itemOrder{
    color: black;
    background-color:rgb(211, 198, 179)
}

.number{
    max-width: 5%;
}.time{
    max-width: 10%;
}.name{
    max-width: 10%;
}.phone{
    min-width:200px;
}.adres{
    min-width: 15%;
}.sumOrder{
    min-width:min-content;
}.payment{
    max-width: 10%;
}.coment{
    min-width: 100px;
    max-height: 200px;
    overflow: auto;
}
.order_list{
    overflow: auto;
    width: 50%;
}