.leaflet-interactive{
    /* stroke:rgba(0, 0, 0, 0.877); */
    /* fill: rgba(172, 255, 17, 0.473); */
    fill-opacity: .2;
}

.hover{
    background-color: rgba(0, 0, 0, 0.623);
    padding: .3rem;
    font-size: 20px;
    border-radius: 20px;
    color:antiquewhite;
    border: none;
}