*{
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
.wrapper{
    width: 80%;
    margin: 30px auto;
    padding: 30px;
    background-color: rgb(110, 212, 216);
}
.slider{
    width: 600px;
    height: 300px;
    border: 1px solid black;
    margin: 30px auto;
    overflow: hidden;
}

.slider-line{
    height: 300px;
    width: 3600px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
.slider-next, .slider-previous{
    width: 100px;
    padding: 4px;
    border: 2px solid black;
    font-size: large;
    font-weight: 600;
}