*{
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}



.flex-wrapper{
    position: relative;
    width: 80%;
    width: 600px;
    margin: 30px auto;
}
.slider-wrapper{
    position: relative;
    margin: 0 auto;
    width: 600px;
}
.dots-wrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.dots-wrapper .dot{
    width: 15px;
    height: 15px;
    background-color:rgb(78, 78, 78);
    border-radius: 50%;
    border: none;
    margin: 0 0.5rem;
    transition: all ease 0.5s;

}


#btn-prev{
    position:absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.295);
}

#btn-next{
    position:absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.295);

}

.slider-wrapper .slide{
    display: none;

}
.slider-wrapper .active{
    display: block;

}
.dots-wrapper .active{
    background-color: black;
}


.wrapper{
    background-color: rgb(72, 82, 82);
    top: 100px;
    left: 200px;
    position: relative;
    width: 600px;
    height: 200px;
    overflow: hidden;
}

.slider{
    display: flex;
}