.formAdmin{
    width: 80%;
    padding: 2rem;
    border: 1px solid black;
    background-color: aliceblue;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 300;
}
.form{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}
input{
    padding: .5rem;
    width: 100%;
    font-size: 20px;
}
.timeInput{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.adresInput input{
    width: 25%;
    margin: .4rem;
}
.wrapperList{
    display: flex;
    justify-content: space-between;
    border:1px solid black;
}