.prevew{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-image: url(https://lh3.googleusercontent.com/drive-viewer/AITFw-yknWNHu1vB5a-S8Ol8_IZUvIti5swgOW1YAy_f9tgoYrDX6EcaFK3ic5aCE01wse8sIqghbZqQsNjrCChtcWMZ9238jQ=w1920-h969);
}