.formAdmin{
    margin: 0 auto;
    width: 90%;
    height: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
input{
    height: 30px;
    font-size: 30px;
    margin: 0;
    padding: 0;
    cursor: text;
}
label{
    font-size: 24px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor:pointer;
}

.inputphoto{
    width: 100%;
    height:200px;
    background-image: url(../../images/Frame\ 45.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}
#photo{
    display: none;
}
.delivery{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.delivery label{
    width: 140px;
    height: 40px;
    background-color:aliceblue;
    filter: none;
    border: 1px solid black;
    text-align: center;
}
.delivery input{
    display: none;
}
#true:checked+label{
    background-color:#6495ed;
    border: none;
}
#false:checked+label{
    background-color:#6495ed;
    border: none;
}

