*{
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.wrapp{
    width: 573px;
    height: 1314px;
    margin: 5rem 3rem;
    position: relative;
}

.body{
    position: relative;
    width: 163px;
    height: 282px;
    /* background-color: red;  */
}

.body__dot:nth-child(1){
    background-color: red;
    height: 10px;
    border-top-left-radius: 5px;
    border: 1px solid black;
}
.body__dot:nth-child(2){
    background-color: rgb(255, 0, 0);
    height: 147px;
    border-top: 1px solid black;
    width: 98px;
}
.body__dot:nth-child(3){
    position: absolute;
    right: 0;
    top: 10px;
    height: 147px;
    border-bottom: 10px solid transparent;
    border-left: 65px solid red;
}
.body__dot:nth-child(2) div{
    width: 135px;
    height: 113px;
    background-color: #72696a;
    border-radius: 10px;
    position: absolute;
    top: 27px;
    left: 14px;
    border: 1px solid black;
    z-index: 2;

}
.body__dot:nth-child(4){
    height: 0px;
    width: 98px;
    border-top: 64px solid #72696a;
    border-left: 20px solid transparent;
    border-bottom: none;
}
.body__dot:nth-child(5){
    position: absolute;
    left: calc(98px - 50px);
    width: 50px;
    height: 0px;
    border-top: 60px solid red;
    border-left: 5px solid transparent;
}
.body__dot:nth-child(6){
    position: absolute;
    right: 3px;
    bottom: 1px;
    width: 57px;
    border-top: 8px solid transparent;
    /* border-bottom: 120px solid #72696a; */
    border-right: 57px solid #c4c4c4;
}
.body__dot:nth-child(6) div{
    width: 57px;
    height: 14px;
    border: 1px solid black;
    background-color: #c4c4c4;
}
.body__dot:nth-child(6) div:nth-child(1){
    height: 8px;
    background-color: #c4c4c4;
    border: none;
}
