@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid black;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    border: none;
    background: none;
}
header{
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.logo__header{
    width: 120px;
    height: 56px;
    background-image: url(images/Logo.png);
    background-size: contain;
}
.nav__header{
    width: 570px;
    margin-left: 500px;
}
.nav__header ul{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__header ul li a{
    color: black;
}
.phone__header{
    align-items: center;
}
.offer{
    height: 100vh;
    background-image: url(images/bg-offer.png);
    background-position: center;
    background-size: cover;
}

.section__product{
    width: 80%;
    margin: 30px auto;
}
.slider_product{
    width: 1200px;
}
.line__slider{
    display: flex;
    justify-content: space-between;
    width: calc(570px * 4 );

}
.card{
    width: 570px;
    height: 400px;
    background-color: #FFEDCD;
    border-radius: 10px;
}